<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME_PAGE</title>
    <link rel="stylesheet" href="../static/css/hm.css">

</head>
<body>
<div class="container">
        <div class="content">
            <button>
                <a href="Login">Press Here To Login</a>
            </button>

            <button>
                <a href="Create_Acc">Create an Account</a>
            </button>


            <button>
                <a href="./">Home</a>
            </button>
        </div>
    </div>

{% if message2 %}
<h3>{{message2}}</h3>
{% endif %}



</body>
</html>